body{
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	background-image: url(../fond_header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header{
	border-top: 1px solid rgba(45, 32, 5, 0);
	border-right: 1px solid rgba(45, 32, 5, 0);
	width: 75%;
	padding: 0;
	margin: 0 auto;
	box-shadow: -6px 5px 5px black;
}

#logo{
	float: left;
	position: absolute;
	height: 115px;
}

.index{
	display: block;
	height: 60px;
	margin: 0 auto;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-indent: 10px;
	text-shadow: -6px 5px 5px black;
	letter-spacing: 10px;
	word-spacing: 20px;
	font-size: 4vw;
	font-weight: 300px;
}



nav li{
	list-style-type: none;
	float: left;
}

li{
	margin-bottom: 0px
}

nav ul{
	margin: 0px;
	padding: 0px;
}

nav{
	background: -webkit-linear-gradient(to bottom, rgb(45, 32, 5), rgb(110, 50, 0), rgb(45, 32, 5)); 
    background: -o-linear-gradient(to bottom, rgb(45, 32, 5), rgb(110, 50, 0), rgb(45, 32, 5));
    background: -moz-linear-gradient(to bottom, rgb(45, 32, 5), rgb(110, 50, 0), rgb(45, 32, 5)); 
    background: linear-gradient(to bottom, rgb(45, 32, 5), rgb(110, 50, 0), rgb(45, 32, 5));
}

nav a{
	display: inline-block;
	text-decoration: none;
	padding: 5px 60px;
	color: white;
	text-transform: capitalize;
	text-shadow: -6px 5px 5px black;
	font-size: 25px;
}

.table{
	display: table;
	margin: 0 auto;

}

.menu-cafe:hover{
	border-top: 3px solid black;
	background-color: rgb(60, 30, 0);
}

.menu-the:hover{
	border-top: 3px solid black;
	background-color: rgb(60, 30, 0);
}

.menu-snack:hover{
	border-top: 3px solid black;
	background-color: rgb(60, 30, 0);
}

nav li:hover a{
	padding: 1px 60px 5px 60px;
	color: white;
}

.corps{
	width: 75%;
	height: 436px;
	margin: 10px auto 3px auto;
	text-align: left;
	background-color: black;
	color: white;
}

footer{
	width: 100%;
	margin: 0px auto;
	height: 59px;
	border-top: 2px solid black;
	text-align: left;
	background-color: rgb(100, 50, 0);
}

#links{
	position: relative;
	top: 3px;
	left: 3px;
}

.link{
	text-decoration: none;
	color: white;
	margin: 0px 10px;
	position: relative;
	bottom: 7px;
	left: 5px;
}

#copyright{
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	float: right;
	font-size: 15px;
}
